@import url(./variable.css);

.header {
	display: block;
	width: 100vw;
	font-size: 10rem;
	text-align: center;
	font-weight: 600;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.summonerInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 5rem;
	margin-left: 30vw;
	margin-right: 30vw;
	width: 40vw;
	border-radius: 1rem;
	background: linear-gradient(135deg, #2b69ee, #9246ee);
}

.summonerInfoText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1.5rem;
	color: white;
}

.profile {
	font-size: 4.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

img.profile {
	border-radius: 1rem;
	margin: 5rem;
	width: 15rem;
}

.matchHistory {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	flex-direction: column;
}

.matchHistory-data {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	width: 40vw;
	font-size: 10rem;
	border-radius: 1rem;
}

.true {
	background-color: #2b69ee;
}

.false {
	background-color: var(--error-message-color);
}
.img {
	width: 10rem;
}

.img2 {
	width: 5rem;
}

.matchHistoryDataSetTop {
	display: flex;
	flex-direction: row;
	column-gap: 2rem;
}

.matchHistoryDataSetMid {
	display: flex;
	flex-direction: row;
	column-gap: 5rem;
	justify-content: space-between;
}

.matchHistoryDataSetMidStats {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	align-items: center;
	justify-content: center;
}

.matchHistoryDataSetMidStatsCs {
	display: flex;
	column-gap: 2rem;
}

.matchHistoryDataSetMidItems {
	display: flex;
	flex-wrap: wrap;
	width: 15rem;
}

.matchHistoryDataSetBot {
	column-gap: 4rem;
}

.matchHistoryDataSetBotCombos {
	display: flex;
	column-gap: 1rem;
	font-size: 3rem;
}

.timeSpentDead {
	float: right;
	font-size: 0.5em;
}
