html,
body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10rem;
}
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10rem;
}
button {
	margin: 0.5rem;
}

.matchHistory {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30rem;
	flex-direction: column;
}

.matchHistory-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 3rem;
}
.matchHistory-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 3rem;
}
