@import url(./variable.css);

body {
	background: var(--main-bg-color);
}

.header {
	display: block;
	width: 100vw;
	position: fixed;
	height: 10vh;
	top: 20%;
	font-size: 15rem;
	text-align: center;
	font-weight: 900;
}

.form {
	align-items: center;
	flex-direction: column;
	row-gap: 4rem;
	font-size: 10rem;
}

#summonerName {
	position: fixed;
	top: 40%;
	text-align: center;
	outline: none;
	padding: 3.5rem;
	width: 130rem;
	border: none;
	border-radius: 1rem;
	background-color: var(--search-box-color);
	font-weight: 500;
}

#enterButton {
	position: fixed;
	top: 54%;
	border: none;
	border-radius: 1rem;
	padding: 3rem;
	font-size: 4rem;
	width: 25rem;
	font-weight: 700;
	letter-spacing: 0.25rem;
	color: white;
	background: linear-gradient(135deg, #447cf5, #a777e3);
}

#enterButton:active {
	transform: scale(0.9, 0.9);
}

.errorMessage {
	display: block;
	width: 100vw;
	position: fixed;
	height: 10vh;
	top: 40%;
	font-size: 10rem;
	text-align: center;
}

.errorMessage2 {
	display: block;
	width: 100vw;
	position: fixed;
	height: 10vh;
	top: 53%;
	font-size: 3rem;
	text-align: center;
	font-weight: 200;
	color: #74767c;
}

.title {
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 30rem;
	font-size: 3rem;
}

.matchHistory {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30rem;
	font-size: 3rem;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	justify-content: center;
	align-items: center;
}
